body{
	font-family: 'PT sans', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.6;
	color: #fff;
	background-color: #252529;
}

a{
	text-decoration: none;
	color: #ccc;
}

#top{
	margin: 0;
	padding: 0;
	background: url(pic.jpg) no-repeat center/cover;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

#top h1{
	font-size: 4rem;
	margin-top: 20vh;
}

#top h2{
	font-size: 2rem;
}

.heading{
	text-align: center;
}

P{
	font-size: 1.5rem;
}

nav{
	height: 40px;
	width: 100%;
	background-color: #7F8C8D;
	position: fixed;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav li{
	display: inline;
	float: left;
}
nav a{
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	padding: 5px 0;
	color:#eee;
}

nav li:hover{
	background-color:burlywood;
}

.heading{
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
	padding: 0 3rem;
}

footer .down{
	display: grid;
	grid-gap: 20px;
	grid-template-columns:repeat(4, 1fr);
	padding: 2rem;
	text-align: left;
	font-size: 14px;
}

footer .down ul{
	list-style: none;
}

footer .down ul li:first-child{
	font-size: 1.2rem;
	padding-bottom: 0.5rem;
	border-bottom: #444 solid 1px;
	margin-bottom: 1rem;
}

footer .bottom{
	background-color: #333;
	padding: 1rem;
	text-align: center;
}

.maining{
	text-align: center;
	font-size: 25px;
	margin: auto;
}